:root {
    --themeColor: var(--light-base);
    accent-color: var(--light-accent);
    color-scheme: light;
}

html, body {
    background-color: var(--light-base);
    color: var(--light-text);
}

strong,
a {
    color: var(--dark-accent);
}

::selection{
    background-color: rgba(0,0,0,0.2);
}

#topbar svg{
    fill: var(--light-text);
}

#aboutContent{
    background-color: rgba(230, 233, 239, 0.5);
    border-color: var(--light-text);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
}

#settings{
    background-color: rgba(230, 233, 239, 0.5);
    border-color: var(--light-text);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
}

#applyBtn{
    color: #000;
}

#settings > div > *:not(label), #settings > *:not(div, #setHead){
    border-color: var(--light-accent);
    background-color: var(--light-base);
    caret-color: var(--light-accent);
}

#settings > div > *:not(label, *[type="range"]), #settings > *:not(div, #setHead) {
    box-shadow: 0px 0px 5px 0px var(--light-accent);
}

#settings > div > *:not(label) option, #settings > *:not(div, #setHead) option{
    color: var(--light-accent);
}

::-webkit-scrollbar-track {
    background: var(--light-base);
}

::-webkit-scrollbar-thumb {
    background: var(--light-accent);
}

@-moz-document url-prefix() { /* For firefox */
    :root {
        scrollbar-color: var(--light-accent) var(--light-base);
        scrollbar-width: thin;
    }
}

.subtext{
    color: var(--light-subtext0);
}

#vakitler{
    border-color: var(--light-overlay2);
}

#main>div, #main{
    border-color: var(--light-overlay2);
}

#line{
    background-color: var(--light-overlay2);
}